<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="120" alt="Angular Logo" src="../assets/distribution.webp" />
    <span>Hypothesis Testing
    </span>
    <div class="spacer"></div>

</div>

<div class="" role="main">
    <br/>
    <br/>
    <br/>
    <br/>
    <app-snedecor></app-snedecor>
    <app-homogeneity-mean-independant></app-homogeneity-mean-independant>
    <app-homogeneity-mean-matched></app-homogeneity-mean-matched>
    <app-conformity></app-conformity>

</div>
